

@import "mixins";

@import "basics";

html {
    scroll-behavior: smooth;
}

body {
    background-color: #fff;
    position: relative;
    padding: 2em $whitespace 10vw;
    max-width: 1000px;
    margin: 2em auto 4em;
    width: calc(100% - 2 * #{$whitespace});

}


#header {
    margin-bottom: 2em;
    display: grid;
    grid-template-columns:  auto auto;
    grid-template-rows: auto;
    grid-template-areas:
        'joint-logo title';
    grid-column-gap: 3em;
    grid-row-gap: 3em;
    justify-items: start;
    align-items: center;
    justify-content: center;    // align the grid itself
    @include respond-to(handhelds) {
        display: block;
    }
    #logo {
        line-height: 0;
        grid-area: joint-logo;
        img {
            outline: none;
            display: block;
            width: 23vw;
            max-width: 200px;
            min-width: 176px;height: auto;
            @include respond-to(handhelds) {
                width: 20vw;
                min-width: 150px;
                margin: 0 auto;
            }
            @media only screen and (max-width: 580px) {
                width: 18vw;
                min-width: 100px;
            }
        }
    }
    h1 {
        grid-area: title;
        @include respond-to(handhelds) {
            display: block;
            text-align: center;
            margin-top: 0.5em;
        }
        > span {
            display: block;
            &.top {
                font-family: bebas, Sans-Serif;
                font-weight: normal;
                color: #333;
                font-size: 40px;
                line-height: 1;
                letter-spacing: 0.055em;
                .clarin {
                    color: $clarin_blue;
                    font-size: 70px;
                }
                .dariah {
                    color: $dariah_blue;
                    font-size: 70px;
                }
            }
            &.bottom {
                font-family: metropolis, Sans-Serif;
                text-transform: uppercase;
                color: $dariah_blue;
                font-size: 40px;
                line-height: 1;
                .first {
                    color: $clarin_blue;
                    display: inline;
                }
            }
        }
    }
}

#introduction {
    // logos clarin & dariah
    a.logo {
        margin: 0 auto 3em;
        display: flex;
        justify-content: center;
        &:last-child {
            margin-bottom: 0;
        }
        img {
            flex: 1 1 80%;
            max-width: 200px;
            min-width: 150px;
            height: auto;
            display: inline-block;
        }
    }
}

h2 {
    margin: 1em 0 0.5em;
    text-align: center;
}


#projects {
    display: flex;
    margin-top: 2em;
    @include respond-to(handhelds) {
        display: block;
    }
    .project-logo {
        flex: 0 0 30%;
        @include respond-to(handhelds) {
            text-align: center;
        }
        img {
            width: calc(100% - 2em);
            max-width: 100px;
            height: auto;
        }
    }
    .project-description {
        flex: 0 0 70%;
    }
}


ul.custom-bullets.css-columns {
    column-gap: 2em;
    @media only screen and (max-width: 530px) {
        column-count: 1;
    }
    list-style: none;
    padding: 0;
    margin: 0;
    li {
        padding-left: 1em;
        text-indent: -1em;
    }
    li::before {
        content: "• ";
        color: $blue;
    }
}
